#question {
    #question-progress {
        margin: 16px 0 32px 0;
    }
    button.option {
        margin: 4px !important;
        border: 2px solid transparent;
        &.mark-as-answer {
            border: 2px dashed red !important;
        }
    }
}
